<!DOCTYPE html>
<html>
  <head>
    <title>Digital Wesleyan Fellowship</title>
    <link href="students.css" rel="stylesheet"/>
    <link href="./fonts/fontawesome/css/font-awesome.min.css" rel="stylesheet"/>
  </head>
  <body>
    <div class="header">
      <div class="headshot"></div>
      <img src="#"/>
      <h1 class="name">Yekaterina Sapozhnina</h1>
      <ul class="social">
        <li><a href="https://twitter.com/Katya2494">
          <i class="fa fa-twitter fa-lg"></i>
        </a></li>
        <li><a href="http://www.linkedin.com/profile/view?id=268143011&trk=nav_responsive_tab_profile">
          <i class="fa fa-linkedin fa-lg"></i>
        </a></li>
        <li><a href="https://github.com/Katya2494">
          <i class="fa fa-github fa-lg"></i>
        </a></li>
      </ul>
    </div>
    <div class="about">
      <h2>About</h2>
      <ul>
        <li>Psychology</li>
        <li>2014</li>
        <li>New York City</li>
      </ul>
      <h2>Bio</h2>
      <p>Katya is in her sophomore year at Wesleyan University, potentially majoring in Psychology.Although she has always been an entrepreneur at heart, Katya labeled herself as such February 2013 when she founded Wesleyan Entrepreneurship Society (WES)&#178;. Since then, she has been advising various start-ups on campus and working on several of her own ventures. Katya is working closely with the Patricelli Center of Social Entrepreneurship. She is currently co-leading a student forum about entrepreneurship. She has also attended many business workshops such as those by StartingBloc and DoSomething. Katya is passionate about disability rights, neuroscience and all art forms. Katya is working hard to raise awareness about Synesthesia. She cares a lot about raising self esteem in children and providing more opportunities for anyone struggling. She is very excited to be a part of the Wesleyan startup culture. </p>
    </div>
    <div class="project">
      <h2>Project</h2>
      <h3>COMING SOON!</h3>
    </div>
  </body>
</html>